.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../images/1ea150a80b55b574e9ed5ca2338302fa.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-group-1 {
  width: 623px;
  min-height: 500px;
  margin: 58px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  border-radius: 50px;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    width: 498px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 15.46% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-group-1 {
    min-height: 413px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-group-1 {
    width: 369px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 35.39% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

.item {
  cursor: pointer;
}

.meals-container {
  margin-top: -200px;
  background-color: rgba(255, 255, 255, 0.644);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 30px;
  box-shadow: 0 0 10px rgb(209, 209, 209);
}

.input-f {
  margin: 0 10px !important;
  outline: none !important;
}

.u-section-2 .u-sheet-1 {
  min-height: 868px;
}

.u-section-2 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 0 auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 10px 0 15px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 80px;
}

.u-section-2 .u-image-1 {
  min-height: 327px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  min-height: 327px;
  background-image: url("../images/b483753f171dc2e517a554dd0130738d.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  min-height: 327px;
  background-image: url("../images/af2c9ad73a57f6f7ce4931f1b5a524c7.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  min-height: 327px;
  background-image: url("../images/244bee83c6fda1b06c3d12de3b047310.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  min-height: 327px;
  background-image: url("../images/186c126c272ce78f6f5bad4499211642.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-6 {
  min-height: 327px;
  background-image: url("../images/904f9d00febed740503b97c3dea98669.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 660px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 505px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1183px;
  }

  .u-section-2 .u-group-1 {
    width: 474px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.u-section-3 .u-sheet-1 {
  min-height: 450px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-3 .u-image-1 {
  min-height: 310px;
  background-image: url("../images/a2fc4ef890f44fa0a9bb7787ce17008d.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 30px;
}

.u-section-3 .u-image-2 {
  min-height: 310px;
  background-image: url("../images/6243854162c536333ab218a58996077f.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-image-2 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-3 .u-image-1 {
    min-height: 310px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-image-2 {
    min-height: 310px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 310px;
    order: 2;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: -0;
    margin-bottom: -0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 250px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-3 .u-image-2 {
    min-height: 250px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 250px;
    order: 3;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3 .u-image-1 {
    min-height: 226px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-3 .u-image-2 {
    min-height: 226px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 226px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 20px;
  }
}

.u-section-4 {
  min-height: 739px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 739px;
  background-image: url("../images/121de0006b4b7c60c37dc95d75299cb3.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 739px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  margin: 75px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  border-radius: 50px;
  margin: 30px 0 75px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 50px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-bottom: 50px;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    width: 118px;
    height: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 332px;
  }

  .u-section-4 .u-image-1 {
    min-height: 332px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-4 .u-btn-1 {
    width: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 461px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-4 .u-btn-1 {
    width: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 11px;
  }

  .u-section-4 .u-image-1 {
    min-height: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-btn-1 {
    width: 71px;
  }
}
