.banner-pl {
  .div-1,
  .div-2,
  .div-3 {
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
  }

  .div-1 {
    width: 300px;
    height: 60px;
  }

  .div-2 {
    width: 450px;
    height: 100px;
  }

  .div-3 {
    width: 200px;
    height: 60px;
  }
}

.mealDetailsPL {
  .div-1,
  .div-2,
  .div-3,
  .div-4,
  .div-5 {
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
  }

  .div-1 {
    width: 300px;
    height: 100px;
  }

  .div-2 {
    width: 500px;
    height: 400px;
  }

  .div-3 {
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 50px;
  }

  .div-4 {
    width: 200px;
    height: 100px;
  }

  .div-5 {
    width: 400px;
    height: 100px;
  }
}
